.workout__details {
  background: #fff;
  border-radius: 4px;
  margin: 1.25rem auto;
  padding: 1.25rem;
  position: relative;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.05);
}

.workout__details h4 {
  margin: 0 0 10px 0;
  font-size: 1.2em;
  color: var(--primary);
}

.workout__details p {
  margin: 0;
  font-size: 0.9rem;
  color: #555;
}

.delete__btn {
  display: flex;
  justify-items: center;
  position: absolute;
  top: 1.25rem;
  right: 1.25rem;
  cursor: pointer;
  color: #333;
  background: #f1f1f1;
  padding: 0.375rem;
  border-radius: 50%;
}

.update__btn {
  display: flex;
  justify-items: center;
  align-items: center;
  position: absolute;
  top: 1.25rem;
  right: 4rem;
  cursor: pointer;
  color: #333;
  background: #f1f1f1;
  padding: 0.375rem;
  border-radius: 50%;
}

.delete__btn:hover, .update__btn:hover {
  opacity: 0.75;
}
